h3 {
    display: flex;
    justify-content: center;

}

h5 {

    display: flex;
    justify-content: center;
}

.card {
    margin-top: 4.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input {
    display: grid;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex
}

.result,
p {
    display: grid;
    justify-content: center;
    align-items: center;
}

.resultCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.img {
    display: block;
    margin: 0 auto;
}

.btn:hover {
    color: white;
    background-color: forestgreen;
    outline-color: forestgreen;
}