.card {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.card h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card p {
    align-content: center;
    margin-bottom: 1rem;
}

.nav {
    width: 100%;
    max-width: 100%;
}

.rowHeader {
    font-weight: bolder;
}