* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EEF3F5;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

a,
a:hover {
  text-decoration: none;
}